@import '../../../../styles/main/colors.scss';

.ads__card {
  height: 60rem;
  display: flex;
  justify-content: center;
  flex: 1 1 0%;
  align-items: center;
  min-width: 40rem;
  position: relative;
  overflow: hidden;
  &:hover &-img {
    transform: scale3d(1.05, 1.05, 1);
    filter: none;
  }
  &-img {
    filter: blur(3px);
    position: absolute;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: all 0.3s ease-in-out;
    transform-origin: center;
  }
  &-button {
    z-index: 1;
  }
}
