@import '../../../../../styles/main/colors.scss';

.footer__socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 3rem;
  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-primary-green-tint;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
      background-color: $color-background-light-gray;
    }
  }
}
