@import '../../styles/main/colors.scss';

.container {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  .form {
    text-align: left;
    &__main {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(435px, 1fr));
      gap: 5rem;
      margin-bottom: 2.5rem;
    }
    &-button {
      margin: 0 auto;
      margin-top: 3em;
    }
    &-title {
      text-align: center;
      margin-bottom: 6rem;
      font-size: 5rem;
    }
    .login-link {
      color: $color-primary-green;
    }
  }
}
@media (max-width: 44em) {
  .form {
    &__main {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
    &-button {
      margin-top: 4rem;
    }
  }
}
