@import '../../../../../styles/main/colors.scss';

.quantity {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: $color-primary-blue;
  display: flex;
  gap: 1rem;
  align-items: center;
  &-input {
    display: inline-block;
    padding: 3rem;
    background: $color-white;
    border: 2px solid $color-primary-blue;
    border-radius: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    &--invalid {
      border-color: red;
      background-color: #fbdada;
    }
  }
}

@media (max-width: 44em) {
  .product-label {
    font-size: 0;
  }
}
