@import '../../../styles/main/colors.scss';

.about {
  margin-bottom: 30rem;
  background-color: $color-background-light-gray;
  padding: 20rem 0;
  &__image {
    flex: 1 0 60%;
    img {
      width: 100%;
    }
  }
  &__description {
    max-width: 69rem;
    &-subheading {
      margin-bottom: 0.8rem;
    }
    &-heading {
      margin-bottom: 1.4rem;
    }
  }
  &__cards {
    padding: 4.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 59em) {
  .about__image {
    display: none;
  }
}
